<% if @user %>
<h1>Welcome, <%= @user.email %></h1>
<% end %>
<form action='/sessions/destroy' method='post'>
  <input type='submit' value='Sign out'>
</form>

<form action='/facts' method='post'>
  Got a fact? <input type='textarea' name='text' placeholder='480 characters...'>
  <input type='submit' value='Yes in fact'>
</form>



<ul>
<% @facts.each do |fact| %>
  <%= fact.text %><br>
  <%= fact.format_timestamp %><br><br>
<% end %>
</ul>