<% if @user %>
<h1>Welcome, <%= @user.email %></h1>
<% end %>
<form action='/sessions/destroy' method='post'>
  <input type='submit' value='Sign out'>
</form>

<form action='/facts' method='post'>
<label for="Got a fact?"><h3>Got a fact?</h3></label>
  <textarea type='text' required name='text' placeholder='480 characters...'></textarea><br><br>
  <input type='submit' value='I do in fact'>
</form>




<ul>
<% @facts.each do |fact| %>
  <%= fact.text %><br>
  <%= fact.format_timestamp %><br><br>
<% end %>
</ul>